.main {
  border: 5px inset red;
  text-align: center;
  margin: 0 auto;
  width: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  padding:10px;
  background: linear-gradient(to bottom right, #06d5e8, #00eaac);
}

.label {
  font-family: sans-serif;
  font-weight: bold;
}

.title {
  font-family: monospace;
  font-weight: lighter;
  color: white;
  text-align: center;
  font-size: 20px;
}
